* {
    background-color: black;
    color: white;
}
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid gray;
    padding: 10px 20px;
}
.nav div {
    font-size: 22px;
    display: flex;
    gap: 30px;
}

h1 {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    white-space: nowrap;
}