.page1{
  width: full;
  height: 400px;
  background-color: #444;
}
.page2{
  width: full;
  height: 400px;
  background-color: #555;
}
.page3{
  width: full;
  height: 400px;
  background-color: #666;
}